BOT_TOKEN=8636718546:AAHyiMi32Vv_8X2a1Ju7XW3HuIyctRCap6w
OWNER_ID=7730742253

LOCAL_DB_PATH=sqlite+aiosqlite:///ultra_local.db
SUPABASE_URL=
NEON_URL=
MONGO_URL=
COCKROACH_URL=
REDIS_URL=redis://localhost:6379/0
